src/main/mule/connected-apps-github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a37e0579-1434-4efa-8376-f11b1afabfc8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="connected-apps-github-actionsFlow" doc:id="4c9b2e7f-7fdb-4c39-a3ef-6fe8e3bc4369" >
		<http:listener doc:name="Listener" doc:id="2f68f573-345a-43ac-ba5e-32a8e1352fed" config-ref="HTTP_Listener_config" path="/conn"/>
		<ee:transform doc:name="Transform Message" doc:id="5e011c5c-5e20-4759-a921-ec612c6e3049" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "Github Actions through Connected Apps"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a207c0b8-8c4d-4beb-b7cf-7990ae07b6be" message="#[payload]"/>
	</flow>
</mule>
